<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find ira_laser_tools)/maps/MK_room.yaml"/>

  <node pkg="tf" type="static_transform_publisher" name="link0" args=" 0.44  0.00 0 3.14 0 0 map front_lidar 100" />
  <node pkg="tf" type="static_transform_publisher" name="link1" args=" 0.00  0.35 0 0.00 0 0 map back_lidar 100" />

  <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" ></include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ira_laser_tools)/rviz/merge_lidar.rviz" />
</launch>